[
 { "host":"sh2.rs.github.com", "to":"irc://chat.freenode.net/.*" },
 { "host":"sh3.rs.github.com", "to":"irc://chat.freenode.net/.*" },
 { "host":"sh4.rs.github.com", "to":"irc://chat.freenode.net/.*" },
 { "ip":"10.0.0.105", "to":"irc://chat.freenode.net/.*", "privmsg":"sudo.*"},
 { "host":"ai0867.net", "to":".*/AI0867,isnick"}
]
